//- open-software-base-explorer -- Part of codegouv project - generates static HTML files from YAML data
//- By: Marine Gout <marine.gout@data.gouv.fr>
//-     Emmanuel Raviart <emmanuel.raviart@data.gouv.fr>
//-     Guillaume Royer <guillaume.royer@data.gouv.fr>
//-
//- Copyright (C) 2015 Etalab
//- https://git.framasoft.org/codegouv/open-software-base-explorer
//-
//- open-software-base-explorer is free software; you can redistribute it and/or modify
//- it under the terms of the GNU Affero General Public License as
//- published by the Free Software Foundation, either version 3 of the
//- License, or (at your option) any later version.
//-
//- open-software-base-explorer is distributed in the hope that it will be useful,
//- but WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//- GNU Affero General Public License for more details.
//-
//- You should have received a copy of the GNU Affero General Public License
//- along with this program.  If not, see <http:>www.gnu.org/licenses/>.

doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    title
      block title
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    block styles
      link(rel="stylesheet" type="text/css" href="/static/dist/styles/main.css" charset="utf-8")
      link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==" crossorigin="anonymous")

    //- other languages
    for alternateLocale in alternateLocales
      link(rel="alternate" hreflang=alternateLocale.name href=alternateLocale.url)
  body(class=('template-' + template))
    header.container
      img(src="/static/images/logo.png")
    
    nav.navbar.navbar-default.navbar-static-top
      .container
        ul.nav.navbar-nav
          li
            a(href=("/" + locale + "/"))= __('Home')
          li
            a(href="https://forum.etalab.gouv.fr/t/projet-de-catalogue-de-logiciels/38" target="_blank")= __('About')
          li
            a(href="https://git.framasoft.org/codegouv/open-software-base-yaml" target="_blank")= __('Data')
          li
            a(href="https://git.framasoft.org/codegouv/open-software-base-explorer" target="_blank")= __('Source')
          li.dropdown
            a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
              = __('Langue')
              != '<span class="caret"></span>'
            ul.dropdown-menu
              for alternateLocale in alternateLocales
                li
                  a(href=alternateLocale.url)= alternateLocale.name

    section.content.container
      block content

    block javascript
      script(type="text/javascript" src="/static/dist/js/jquery.min.js")
      script(type="text/javascript" src="/static/dist/js/bootstrap.min.js")
      // Piwik
      script(type="text/javascript").
        var _paq = _paq || [];
        _paq.push(["setDomains", ["*.code.gouv2.fr","*.code.gouv2.fr"]]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
          var u="//stats.data.gouv.fr/";
          _paq.push(['setTrackerUrl', u+'piwik.php']);
          _paq.push(['setSiteId', 20]);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
      noscript <p><img src="//stats.data.gouv.fr/piwik.php?idsite=20" style="border:0;" alt="" /></p>
